@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
* {
  margin : 0;
  padding: 0;
  box-sizing:border-box;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  /* background-image: radial-gradient(ellipsis sizing  40% #8257E5 40%,#D72891, #F1594B); */
    background-repeat: no-repeat;
    background-color: #121214;
    min-height: 100vh;
    min-width: 100vw;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
  }

 

  .main-header {
    display: flex;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    width: 100vw;
    margin: auto;
    font-weight: bold; 
    margin-bottom: 32px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);

  }

  .div-logo-nlw {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 30px 0 10px 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.div-logo-nlw {
  display: inline-block;
  padding-bottom: 20px;
}

  .tarefas {
    font-size: 30px;
    margin-left: 30px;
    display: block;
    /* width: fit-content; */
    padding: .7em 1em;
    /* border-bottom: .2em solid rgb(14, 226, 31); */
    text-decoration: none;
    color: rgb(1, 1, 1)
  }
  
  .right-header {
    display: flex;
    align-items: center;
    color: rgb(5, 5, 5);
  }
  
  #nomeUsuarioEmTarefas {
    width: fit-content;
    opacity: .8;
    margin-right: 15px;
  }
  
  .closeApp {
    margin-right: 10px;
    font-size: .72em;
    background-color: rgb(218, 88, 88);
    color: white;
    font-weight: bold;
    border-radius: 50vh;
    border-color: rgb(233, 28, 28);
    padding: .7em 1em;
    cursor: pointer;
    width: fit-content;
  }

  .criar-tarefa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightcyan;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 32px;
    padding: 12px 30px 12px 35px;
    border-radius: 5px;
    border: 1px solid #29292e;
    border-radius: 5px;
    background-color: #202024;
    font-family: Roboto,sans-serif;
    color: #c4c4cc;
    font-size: 16px;
    line-height: 160%;
    white-space: normal;
  }
  

  .criar-tarefa p{
    display: flex;
    padding-bottom: 3px;
    font-weight: bold;
  }

  .main-form {
    font-weight: bold;
    display: flex;
    /* background-color: lightcyan; */
    align-items: center;
    justify-content: space-between;

    
  }

  .mf-div {
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mf-div input {
    margin-left: 12px;
  }

  .mf-div p{
    margin-left: 4px;
  }

  #criarTarefa {
    margin-left: 20px;
  }

  .new-task{
    display: flex;
    flex-grow: 1;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    border-width: 1px;
    padding-bottom: 3px;
  }

  .new-task:focus{
    outline: none;
  }

  .title {
    font-size: 25px;
    background-color: lightcyan;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 32px;
    padding: 12px 30px 12px 35px;
    border-radius: 5px;
    margin-top: 80px;
  }

  .tpul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    background-color: lightcyan;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 12px;
    padding: 12px 30px 12px 35px;
    border-radius: 5px;
    list-style-type: none;
    
  }

  .tpRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }

  h2 .title {
    padding-top: 50px;
  }

  .ttul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    background-color: lightcyan;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 12px;
    padding: 12px 30px 12px 35px;
    border-radius: 5px;
    list-style-type: none;
    
  }

  #user-info {
    margin-right: 20px;
  }